@import '~node_modules/modern-normalize/modern-normalize.css';

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--prime-text-color);
  font-size: 12px;
  font-weight: 500;
  line-height: calc(20 / 12);
  letter-spacing: 0.08em;

  @include mq(desktop) {
    font-size: 18px;
    line-height: calc(28 / 18);
  }
}

.container {
  margin-left: auto;
  margin-right: auto;

  padding-left: 20px;
  padding-right: 20px;
  min-width: 320px;
  width: 100%;

  @include mq(mobile) {
    width: 480px;
  }

  @include mq(tablet) {
    padding-left: 40px;
    padding-right: 40px;
    width: 768px;
  }

  @include mq(desktop) {
    padding-left: 26px;
    padding-right: 26px;
    width: 1366px;
  }
}

.about {
  padding-top: 35px;
  padding-bottom: 35px;

  @include mq(desktop) {
    padding-top: 95px;
    padding-bottom: 94px;
  }
}
