:root {
    --prime-color: #FF6B09;
    --secondary-text-color: #B9B9B9;
    --black-color: #111518;
    --guarantee-text-color: #3D3D3D;
    --guarantee-background: #F1F1F1;
    --white-color: #ffffff;
}