:root {
  --accent-text-color: #ff6b09;
  --prime-text-color: #b9b9b9;
  --title-text-color: #111518;
  --light-text-color: #ffffff;
  --secondary-text-color: #3d3d3d;

  --accent-background: #ff6b09;
  --black-background: #111518;
  --prime-background: #ffffff;
  --secondary-background: #f1f1f1;
  --menu-background: rgba(17, 21, 24, 0.9);

  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
