:root {
    --accent-text-color: #FF6B09;
    --accent-background: #FF6B09;
    --prime-text-color: #B9B9B9;
    --black-text-color: #111518;
    --black-background: #111518;
    --white-text-color: #ffffff;
    --white-background: #ffffff;
    --secondary-text-color: #3D3D3D;
    --secondary-background: #F1F1F1;
}