<section class="about section" id="about">
  <div class="container about__container">
    <h2 class="section-title about__title">Teacher</h2>

    <div class="about__information">
      <div class="about__teacher-photo">
        <picture>
          <!-- desktop screen -->
          <source
            media="(min-width: 1366px)"
            srcset="
              ./images/about/teacher-photo_desk.webp    1x,
              ./images/about/teacher-photo_desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1366px)"
            srcset="
              ./images/about/teacher-photo_desk.jpg    1x,
              ./images/about/teacher-photo_desk@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!-- mobile-tablet screen -->
          <source
            media="(max-width: 1365px)"
            srcset="
              ./images/about/teacher-photo_mob-tab.webp    1x,
              ./images/about/teacher-photo_mob-tab@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 1365px)"
            srcset="
              ./images/about/teacher-photo_mob-tab.jpg    1x,
              ./images/about/teacher-photo_mob-tab@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="about__teacher-img"
            src="./images/about/teacher-photo_mob-tab.jpg"
            alt="Photo of Elena Moreva"
            width="243"
            height="306"
            loading="lazy"
          />
        </picture>
      </div>

      <div class="about__description">
        <h3 class="about__subtitle">Elena Moreva</h3>

        <ul class="about__list">
          <li class="about__item">
            <p>6 yeards of experience in preparing students for UPE</p>
          </li>

          <li class="about__item">
            <p>Own result of passing VNO - 197 points 2 years in a row</p>
          </li>

          <li class="about__item">
            <p>
              Passed excellent at the international analogue of UPE - Cambridge
              PET (Preliminary English Test)
            </p>
          </li>
        </ul>

        <div class="about__text">
          <p class="about__paragraph">
            Graduated from the Institute of International Relations of the NAU
            with a degree in translator-analyst.
          </p>
          <p class="about__paragraph">
            In spare time takes courses from the best universities in the world
            on effective teaching and essay writing techniques.
          </p>
          <p class="about__paragraph">
            Completed: English Grammar and Essay Writing (Berkeley), English
            Grammar & Style (The University of Queesland), How to Write an Essay
            (Berkeley), Academic and Business Writing (Berkeley), The Art of
            Teaching (GEMS education), Powerful Tools for Teaching and Learning
            (University of Houston).
          </p>
        </div>

        <a
          class="about__certificate"
          href="https://cdn.slidesharecdn.com/ss_thumbnails/cambridge-210715103536-thumbnail-4.jpg?cb=1628081589"
          target="_blank"
          >Cambrige English Entry Level Certificate</a
        >
      </div>
    </div>
  </div>
</section>
