<section class="advantages section">
  <div class="container container-advantages">
    <h2 class="visually-hidden">advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <span class="advantages__test"></span>
        <p class="advantages__description">
          <span>Adapted</span>&nbsp;<span>author's</span> UPE program
        </p>
      </li>
      <li class="advantages__item">
        <span class="advantages__test"></span>
        <p class="advantages__description">Modern teaching methods</p>
      </li>
      <li class="advantages__item">
        <span class="advantages__test"></span>
        <p class="advantages__description">Financial guarantee the result</p>
      </li>
    </ul>
  </div>
</section>
