<section class="benefits section" id="options">
  <div class="container">
    <h2 class="section-title section-title--light-theme benefits__title">
      Why do people choose us
    </h2>
    <ul class="benefits__list">
      <li class="benefits__item">
        <p class="benefits__text">Training in small groups</p>
      </li>
      <li class="benefits__item">
        <p class="benefits__text">Rendered notes</p>
      </li>
      <li class="benefits__item">
        <p class="benefits__text">
          Each lesson has a goal and a specific result
        </p>
      </li>
      <li class="benefits__item">
        <p class="benefits__text">The real results of the teacher</p>
      </li>
      <li class="benefits__item">
        <p class="benefits__text">
          The course program meets the requirements of the MES of Ukraine
        </p>
      </li>
      <li class="benefits__item">
        <p class="benefits__text">Set of groups by level of knowledge</p>
      </li>
    </ul>
  </div>
</section>
