<section class="benefits">
  <div class="container">
    <h2 class="visually-hidden">Benefits</h2>
    <ul class="benefits__list">
      <li class="benefits__item">
        <p>Training in small groups</p>
      </li>
      <li class="benefits__item">
        <p>Rendered notes</p>
      </li>
      <li class="benefits__item">
        <p>Each lesson has a goal and a specific result</p>
      </li>
      <li class="benefits__item">
        <p>The real results of the teacher</p>
      </li>
      <li class="benefits__item">
        <p>The course program meets the requirements of the MES of Ukraine</p>
      </li>
      <li class="benefits__item">
        <p>Set of groups by level of knowledge</p>
      </li>
    </ul>
  </div>
</section>
