<section class="contacts section" id="free-lesson">
  <div class="container">
    <h2 class="section-title section-title--light-theme contacts__title">
      Registration for a <span class="accent-text">free</span> phone
      <span class="accent-text">consultation</span> on the nuances of English
      UPE
    </h2>
    <p class="contacts__text">
      Leave a request for participation in a
      <span class="accent-text">free lesson</span>.
    </p>
    <p class="contacts__text">
      A consultant will contact you and answer your questions
    </p>
    <form class="contacts__form registration" name="registration">
      <label class="registration__field">
        <input
          class="registration__input name"
          name="client_name"
          type="text"
          required
          minlength="5"
          pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
          title="Username must be two words separated by space."
          placeholder="John Smith"
        />
        <span class="registration__label">Name*</span>
        <svg class="registration__icon" width="25" height="25">
          <use href="./images/icon-svg/icons.svg#icon-close-menu"></use>
        </svg>
      </label>
      <label class="registration__field">
        <input
          class="registration__input phone"
          name="client_telephone"
          type="tel"
          required
          placeholder="0999999999"
          pattern="[0-9]{10}"
          title="Telephone number must be 10 digits"
        />
        <span class="registration__label">Phone*</span>
        <svg class="registration__icon" width="25" height="25">
          <use href="./images/icon-svg/icons.svg#icon-close-menu"></use>
        </svg>
      </label>
      <button class="btn registration__btn" type="submit" data-modal-open>
        I want a free lesson
      </button>
    </form>
  </div>
</section>
