<footer class="footer">
  <div class="container">
    <div class="footer__links">
      <a class="logo footer__logo" href="./index.html">
        <svg class="logo__icon" width="80" height="30">
          <use href="./images/icon-svg/icons.svg#icon-logo"></use>
        </svg>
      </a>

      <a class="telephone" href="tel:+380991234567">
        <svg class="telephone__icon" width="20" height="20">
          <use href="./images/icon-svg/icons.svg#icon-phone"></use>
        </svg>
        +38 (099) 123 45 67
      </a>

      <a class="instagram-link" href=""></a>
    </div>

    <p class="copyright">&copy; All rights reserved, 2022</p>
  </div>
</footer>
