<footer class="section footer" id="contacts">
  <div class="container">
    <div class="footer__links">
      <a class="logo header__logo" href="./index.html">
        <svg
          class="logo__icon--mobile footer__logo__icon"
          width="80"
          height="30"
        >
          <use href="./images/icon-svg/icons.svg#icon-logo"></use>
        </svg>

        <div class="logo__container">
          <div class="logo__top">
            <span class="logo__hell">Hell</span>
            <svg class="logo__icon--header" width="22" height="30">
              <use
                class="logo__svg"
                href="./images/icon-svg/icons.svg#icon-fire"
              ></use>
            </svg>
            <img
              class="logo__gif"
              src="./images/hero/dm4uz3-foekoe 33-45.gif"
              alt="gif fire"
            />
            <span class="logo__en">EN</span>
          </div>

          <span class="logo__bottom"
            ><span class="logo__helish">hellish</span> english</span
          >
        </div>
      </a>

      <a class="telephone" href="tel:+380991234567" aria-label="Phone number">
        <svg class="telephone__icon" width="20" height="20">
          <use href="./images/icon-svg/icons.svg#icon-phone"></use>
        </svg>
        <span class="telephone__number">+38 (099) 123 45 67</span>
      </a>

      <a
        class="instagram-link"
        href="https://www.instagram.com/"
        target="_blank"
        aria-label="Link to Instagram"
      ></a>
    </div>

    <p class="copyright">&copy; All rights reserved, 2022</p>
  </div>
</footer>
