<header>
    <nav>
        <div class="container-header">
        <div class="logo">
        <a href="./index.html"><span class="logo__hell">Hell</span>
            <svg width="14" height="20"><use href="./images/icon-svg/icons.svg#icon-logo"></use></svg>
            <span class="logo__en">EN</span>&nbsp<span class="logo__hellish">Hellish</span>&nbsp<span class="logo__english">english</span></a>
        </div>
        <ul class="menu-vector">
            <li class="menu-vector__open-menu"></li>
            <li class="menu-vector__open-menu"></li>
            <li class="menu-vector__open-menu"></li>
            <li class="menu-vector__close-menu"></li>
            <li class="menu-vector__close-menu"></li>
        </ul>
        <button type="button" aria-expanded="false" aria-controls="menu-container" class="menu-btn" data-menu-button>
        </button>
        <ul class="site-nav">
            <li class="site-nav__item"><a class="site-nav__link" href="" name="">Studying program</a></li>
            <li class="site-nav__item"><a class="site-nav__link" href="" name="">about</a></li>
            <li class="site-nav__item"><a class="site-nav__link" href="" name="">training options</a></li>
            <li class="site-nav__item"><a class="site-nav__link" href="" name="">contacts</a></li>
        </ul>
        <button type="button" class="call-btn">consultation by phone</button>
        </div>
    </nav>
</header>