<header>
    <div class="container header">
        <a class="logo" href="./index.html">
            <svg width="128" height="45">
                <use href="./images/icon-svg/icons.svg#icon-logo"></use>
            </svg>
        </a>
        <div class="menu-container" id="menu-container" data-menu>
            <a class="logo logo--white-theme" href="./index.html">
                <svg width="128" height="45">
                    <use href="./images/icon-svg/icons.svg#icon-logo"></use>
                </svg>
            </a>
            <nav>
                <ul class="site-nav">
                    <li class="site-nav__item"><a class="site-nav__link" href="">Studying program</a></li>
                    <li class="site-nav__item"><a class="site-nav__link" href="">About</a></li>
                    <li class="site-nav__item"><a class="site-nav__link" href="">Training options</a></li>
                    <li class="site-nav__item"><a class="site-nav__link" href="">Contacts</a></li>
                </ul>
            </nav>
            <button type="button" class="btn btn--light-theme call-btn">consultation by phone</button>
        </div>
        <button type="button" aria-expanded="false" aria-controls="menu-container" class="menu-btn"
          data-menu-button>
          <svg width="30" height="45" aria-label=mobile menu switcher>
            <use class="menu-btn__close" href="./images/icon-svg/icons.svg#icon-close-menu"></use>
            <use class="menu-btn__open" href="./images/icon-svg/icons.svg#icon-burger-menu"></use>
          </svg>
        </button>
    
  </div>
</header>
