<div class="container-hero">
    <section class="hero">
        <h1 class="hero__title">Complex preparation for English UPE</h1>
        <p class="hero__warning">It won’t be easy.</p>
        <p class="hero__benefit">But you are guaranteed to get +25 points</p>
        <button type="button" class="lesson-btn" name="">i want a free lesson</button>
    </section>
    <div class="hero-bg"></div>
    <svg class="wave-bg">
        <use href="./images/icon-svg/icons.svg#icon-wave-bg"></use>
    </svg>
</div>