<section class="activity section">
  <div class="container">
    <h2 class="section-title activity__title">How do we do it</h2>
    <ul class="activity__list">
      <li class="activity__item">
        <a href="" class="activity__link link"
          ><svg class="activity__icon" width="55" height="55">
            <use href="./images/icon-svg/icons.svg#icon-study-program"></use>
          </svg>
          <h3 class="subtitle activity__subtitle">
            Adapted program preparation for UPE
          </h3>
          <p class="activity__text">
            You will learn grammar and vocabulary at the same time. And you will
            learn how to write essays.
          </p>
        </a>
      </li>
      <li class="activity__item">
        <a href="" class="activity__link link"
          ><svg class="activity__icon" width="55" height="55">
            <use href="./images/icon-svg/icons.svg#icon-mobile-learn"></use>
          </svg>
          <h3 class="subtitle activity__subtitle">
            Classroom and online learning
          </h3>
          <p class="activity__text">
            The teacher will help not only in the classroom, but also during
            home preparation. Parents can chat if they wish.
          </p>
        </a>
      </li>
      <li class="activity__item">
        <a href="" class="activity__link link"
          ><svg class="activity__icon" width="55" height="55">
            <use href="./images/icon-svg/icons.svg#icon-open-book"></use>
          </svg>
          <h3 class="subtitle activity__subtitle">
            The habit of reading in English
          </h3>
          <p class="activity__text">
            Articles from sources that are used in the development of this UPE
            will be received by phone twice a week.
          </p>
        </a>
      </li>
      <li class="activity__item">
        <a href="" class="activity__link link"
          ><svg class="activity__icon" width="55" height="55">
            <use href="./images/icon-svg/icons.svg#icon-union"></use>
          </svg>
          <h3 class="subtitle activity__subtitle">Psychological support</h3>
          <p class="activity__text">
            We will teach you testing techniques, the ability to plan your
            confidence training in itself.
          </p>
        </a>
      </li>
      <li class="activity__item">
        <a href="" class="activity__link link"
          ><svg class="activity__icon" width="55" height="55">
            <use href="./images/icon-svg/icons.svg#icon-student"></use>
          </svg>
          <h3 class="subtitle activity__subtitle">
            Training on copyright manuals
          </h3>
          <p class="activity__text">
            You don't have to waste your time on a search for material and to
            buy anything extra. We have compiled 2 manuals for you.
          </p>
        </a>
      </li>
      <li class="activity__item">
        <a href="" class="activity__link link"
          ><svg class="activity__icon" width="55" height="55">
            <use href="./images/icon-svg/icons.svg#icon-audio-book"></use>
          </svg>
          <h3 class="subtitle activity__subtitle">
            Ability to comprehend spoken English
          </h3>
          <p class="activity__text">
            “F.R.I.E.N.D.S” won't help you. You will listen regularly and
            analyze audio recordings in accordance with the studied vocabulary.
          </p>
        </a>
      </li>
    </ul>
  </div>
</section>
