<!-- <section class="problems">
    <p2 class="section-title">The main problems of students
        in English UPE, which
        we <span class="accent-text">help</span> to solve</p2>
    <ul class="problems__list">
        <li class="problems__item">
            <p>Grammar</p>
        </li>
        <li class="problems__item">
            <p>Inability to understand
                spoken English</p>
        </li>
        <li class="problems__item">
            <p>Stingy vocabulary for writing an essay</p>
        </li>
        <li class="problems__item">
            <p>Preparing alone</p>
        </li>
        <li class="problems__item">
            <p>Lack of a single knowledge resource</p>
        </li>
        <li class="problems__item">
            <p>Lack of self-organization</p>
        </li>
</section> -->