<section class="problems section">
  <div class="container problems__container">
    <h2 class="section-title section-title--light-theme problems__title">
      The&nbsp;main&nbsp;problems of&nbsp;students in&nbsp;English&nbsp;UPE,
      which we&nbsp;<span class="accent-text">help</span>&nbsp;to&nbsp;solve
    </h2>
    <ul class="problems__list">
      <li class="problems__item">
        <p class="problems__text">Grammar</p>
      </li>
      <li class="problems__item">
        <p class="problems__text">Inability to understand spoken English</p>
      </li>
      <li class="problems__item">
        <p class="problems__text">Stingy vocabulary for writing an essay</p>
      </li>
      <li class="problems__item">
        <p class="problems__text">Preparing alone</p>
      </li>
      <li class="problems__item">
        <p class="problems__text">Lack of a single knowledge resource</p>
      </li>
      <li class="problems__item">
        <p class="problems__text">Lack of self-organization</p>
      </li>
    </ul>
  </div>
</section>
