<section class="problems">
    <h2 class="section__title">The main problems of students
        in English UPE, which
        we <span>help</span> to solve</h2>

    <ul>
        <li>
            <p>Grammar</p>
        </li>
        <li>
            <p>Inability to understand
                spoken English</p>
        </li>
        <li>
            <p>Stingy vocabulary for writing an essay</p>
        </li>
        <li>
            <p>Preparing alone</p>
        </li>
        <li>
            <p>Lack of a single knowledge resource</p>
        </li>
        <li>
            <p>Lack of self-organization</p>
        </li>
    </ul>
</section>