<!-- Program -->
<section class="section program">
  <div class="container program__container">
    <h2 class="section-title program__title">Our program</h2>
    <ol class="semesters">
      <!-- 1 semester -->
      <li class="semesters__item">
        <p class="semesters__text">
          <span class="semesters__number">1</span> semester
        </p>
        <ul class="block-list">
          <li class="block-list__item">
            <p class="block-list__text">— Grammar</p>
            <ul class="topic-list">
              <li class="topic-list__item">Nouns & Articles</li>
              <li class="topic-list__item">Adjectives & Adverb</li>
            </ul>
          </li>
          <li class="block-list__item">
            <p class="block-list__text">— Vocabulary</p>
            <ul class="topic-list">
              <li class="topic-list__item">Family & Relations</li>
              <li class="topic-list__item">People & Society</li>
            </ul>
          </li>
        </ul>
      </li>

      <!-- 2 semester -->
      <li class="semesters__item">
        <p class="semesters__text">
          <span class="semesters__number">2</span> semester
        </p>
        <ul class="block-list">
          <li class="block-list__item">
            <p class="block-list__text">— Grammar</p>
            <ul class="topic-list">
              <li class="topic-list__item">Pronouns</li>
              <li class="topic-list__item">Active Voice</li>
              <li class="topic-list__item">Passive Voice</li>
            </ul>
          </li>
          <li class="block-list__item">
            <p class="block-list__text">— Vocabulary</p>
            <ul class="topic-list">
              <li class="topic-list__item">Home</li>
              <li class="topic-list__item">School</li>
              <li class="topic-list__item">Work</li>
            </ul>
          </li>
        </ul>
      </li>

      <!-- 3 semester -->
      <li class="semesters__item">
        <p class="semesters__text">
          <span class="semesters__number">3</span> semester
        </p>
        <ul class="block-list">
          <li class="block-list__item">
            <p class="block-list__text">— Grammar</p>
            <ul class="topic-list">
              <li class="topic-list__item">Modal verbs</li>
              <li class="topic-list__item">Infinitive</li>
              <li class="topic-list__item">Gerund</li>
              <li class="topic-list__item">Participle: 1, 2</li>
            </ul>
          </li>
          <li class="block-list__item">
            <p class="block-list__text">— Vocabulary</p>
            <ul class="topic-list">
              <li class="topic-list__item">Travel & Tourism</li>
              <li class="topic-list__item">Culture & Free Time</li>
              <li class="topic-list__item">Sport</li>
            </ul>
          </li>
          <li class="block-list__item">
            <p class="block-list__text">— Writing</p>
            <ul class="topic-list">
              <li class="topic-list__item">Informal Letter</li>
            </ul>
          </li>
        </ul>
      </li>

      <!-- 4 semester -->
      <li class="semesters__item">
        <p class="semesters__text">
          <span class="semesters__number">4</span> semester
        </p>
        <ul class="block-list">
          <li class="block-list__item">
            <p class="block-list__text">— Grammar</p>
            <ul class="topic-list">
              <li class="topic-list__item">Clauses: Conditional and Wishes</li>
              <li class="topic-list__item">Direct / Reported speech</li>
              <li class="topic-list__item">Preposition</li>
              <li class="topic-list__item">Conjunction</li>
              <li class="topic-list__item">Numeral</li>
            </ul>
          </li>
          <li class="block-list__item">
            <p class="block-list__text">— Vocabulary</p>
            <ul class="topic-list">
              <li class="topic-list__item">Healthy Living</li>
              <li class="topic-list__item">Nature & Environment</li>
              <li class="topic-list__item">Money</li>
            </ul>
          </li>
          <li class="block-list__item">
            <p class="block-list__text">— Writing</p>
            <ul class="topic-list">
              <li class="topic-list__item">Formal Letter</li>
            </ul>
          </li>
        </ul>
      </li>

      <!-- 5 semester -->
      <li class="semesters__item">
        <p class="semesters__text">
          <span class="semesters__number">5</span> semester
        </p>
        <ul class="block-list">
          <li class="block-list__item">
            <p class="block-list__text">—</p>
            <ul class="topic-list">
              <li class="topic-list__item">Revision</li>
              <li class="topic-list__item">Tests</li>
            </ul>
          </li>
        </ul>
      </li>
    </ol>
  </div>
</section>
