<section class="reviews section">
  <div class="container reviews__container">
    <h2 class="section-title reviews__title">Feedback from graduates</h2>
    <div class="reviews__wrap">
      <article class="reviews-card">
        <div class="card__wrap">
          <div class="reviews-card__wrap">
            <img
              srcset="
                ./images/reviews/slider/img-7-mb-min.png      90w,
                ./images/reviews/slider/img-7-mb@2x-min.png  180w,
                ./images/reviews/slider/img-7-tab-min.png    150w,
                ./images/reviews/slider/img-7-tab@2x-min.png 300w
              "
              src="./images/reviews/slider/img-7-mb-min.png"
              alt="girl avatar"
              width="90"
              height="90"
            />

            <a href="" class="reviews-card--animation link">
              <svg class="reviews-card__icon" width="34" height="34">
                <use href="./images/icon-svg/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </div>
          <div class="reviews-card__content">
            <h3 class="reviews-card__subtitle subtitle">Tonya Kucherovskaya</h3>
            <p class="reviews-card__discription">
              Graduated from 2015, National University of Bioresources and
              natural history of Ukraine
            </p>
            <p class="reviews-card__text">
              In a short time with Elena, I mastered grammar and replenished my
              completely empty vocabulary. From the first lesson I realized that
              I was on my plate. Elena and I became friends because she was
              really worried about my success. She became an authority for me,
              but I did not tremble in class, fearing to make the slightest
              mistake. Now I can brag that I'm student ...
            </p>
            <a href="" class="reviews-card__link link">Read more</a>
          </div>
        </div>
      </article>
      <article class="reviews-card">
        <div class="card__wrap">
          <div class="reviews-card__wrap">
            <img
              srcset="
                ./images/reviews/slider/img-1-mb-min.png      90w,
                ./images/reviews/slider/img-1-mb@2x-min.png  180w,
                ./images/reviews/slider/img-1-tab-min.png    150w,
                ./images/reviews/slider/img-1-tab@2x-min.png 300w
              "
              src="./images/reviews/slider/img-1-mb-min.png"
              alt="girl avatar"
              width="90"
              height="90"
            />
            <a href="" class="reviews-card--animation link">
              <svg class="reviews-card__icon" width="34" height="34">
                <use href="./images/icon-svg/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </div>
          <div class="reviews-card__content">
            <h3 class="reviews-card__subtitle subtitle">Tonya Kucherovskaya</h3>
            <p class="reviews-card__discription">
              Graduated from 2015, National University of Bioresources and
              natural history of Ukraine
            </p>
            <p class="reviews-card__text">
              In a short time with Elena, I mastered grammar and replenished my
              completely empty vocabulary. From the first lesson I realized that
              I was on my plate. Elena and I became friends because she was
              really worried about my success. She became an authority for me,
              but I did not tremble in class, fearing to make the slightest
              mistake. Now I can brag that I'm student ...
            </p>
            <a href="" class="reviews-card__link link">Read more</a>
          </div>
        </div>
      </article>
      <article class="reviews-card">
        <div class="card__wrap">
          <div class="reviews-card__wrap">
            <img
              srcset="
                ./images/reviews/slider/img-6-mb-min.png      90w,
                ./images/reviews/slider/img-6-mb@2x-min.png  180w,
                ./images/reviews/slider/img-6-tab-min.png    150w,
                ./images/reviews/slider/img-6-tab@2x-min.png 300w
              "
              src="./images/reviews/slider/img-6-mb-min.png"
              alt="girl avatar"
              width="90"
              height="90"
            />

            <a href="" class="reviews-card--animation link">
              <svg class="reviews-card__icon" width="34" height="34">
                <use href="./images/icon-svg/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </div>
          <div class="reviews-card__content">
            <h3 class="reviews-card__subtitle subtitle">Tonya Kucherovskaya</h3>
            <p class="reviews-card__discription">
              Graduated from 2015, National University of Bioresources and
              natural history of Ukraine
            </p>
            <p class="reviews-card__text">
              In a short time with Elena, I mastered grammar and replenished my
              completely empty vocabulary. From the first lesson I realized that
              I was on my plate. Elena and I became friends because she was
              really worried about my success. She became an authority for me,
              but I did not tremble in class, fearing to make the slightest
              mistake. Now I can brag that I'm student ...
            </p>
            <a href="" class="reviews-card__link link">Read more</a>
          </div>
        </div>
      </article>
      <article class="reviews-card">
        <div class="card__wrap">
          <div class="reviews-card__wrap">
            <img
              srcset="
                ./images/reviews/slider/img-5-mb-min.png      90w,
                ./images/reviews/slider/img-5-mb@2x-min.png  180w,
                ./images/reviews/slider/img-5-tab-min.png    150w,
                ./images/reviews/slider/img-5-tab@2x-min.png 300w
              "
              src="./images/reviews/slider/img-5-mb-min.png"
              alt="girl avatar"
              width="90"
              height="90"
            />
            <a href="" class="reviews-card--animation link">
              <svg class="reviews-card__icon" width="34" height="34">
                <use href="./images/icon-svg/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </div>
          <div class="reviews-card__content">
            <h3 class="reviews-card__subtitle subtitle">Tonya Kucherovskaya</h3>
            <p class="reviews-card__discription">
              Graduated from 2015, National University of Bioresources and
              natural history of Ukraine
            </p>
            <p class="reviews-card__text">
              In a short time with Elena, I mastered grammar and replenished my
              completely empty vocabulary. From the first lesson I realized that
              I was on my plate. Elena and I became friends because she was
              really worried about my success. She became an authority for me,
              but I did not tremble in class, fearing to make the slightest
              mistake. Now I can brag that I'm student ...
            </p>
            <a href="" class="reviews-card__link link">Read more</a>
          </div>
        </div>
      </article>
      <article class="reviews-card">
        <div class="card__wrap">
          <div class="reviews-card__wrap">
            <img
              srcset="
                ./images/reviews/slider/img-4-mb-min.png      90w,
                ./images/reviews/slider/img-4-mb@2x-min.png  180w,
                ./images/reviews/slider/img-4-tab-min.png    150w,
                ./images/reviews/slider/img-4-tab@2x-min.png 300w
              "
              src="./images/reviews/slider/img-4-mb-min.png"
              alt="girl avatar"
              width="90"
              height="90"
            />

            <a href="" class="reviews-card--animation link">
              <svg class="reviews-card__icon" width="34" height="34">
                <use href="./images/icon-svg/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </div>
          <div class="reviews-card__content">
            <h3 class="reviews-card__subtitle subtitle">Tonya Kucherovskaya</h3>
            <p class="reviews-card__discription">
              Graduated from 2015, National University of Bioresources and
              natural history of Ukraine
            </p>
            <p class="reviews-card__text">
              In a short time with Elena, I mastered grammar and replenished my
              completely empty vocabulary. From the first lesson I realized that
              I was on my plate. Elena and I became friends because she was
              really worried about my success. She became an authority for me,
              but I did not tremble in class, fearing to make the slightest
              mistake. Now I can brag that I'm student ...
            </p>
            <a href="" class="reviews-card__link link">Read more</a>
          </div>
        </div>
      </article>
      <article class="reviews-card">
        <div class="card__wrap">
          <div class="reviews-card__wrap">
            <img
              srcset="
                ./images/reviews/slider/img-3-mb-min.png      90w,
                ./images/reviews/slider/img-3-mb@2x-min.png  180w,
                ./images/reviews/slider/img-3-tab-min.png    150w,
                ./images/reviews/slider/img-3-tab@2x-min.png 300w
              "
              src="./images/reviews/slider/img-3-mb-min.png"
              alt="girl avatar"
              width="90"
              height="90"
            />

            <a href="" class="reviews-card--animation link">
              <svg class="reviews-card__icon" width="34" height="34">
                <use href="./images/icon-svg/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </div>
          <div class="reviews-card__content">
            <h3 class="reviews-card__subtitle subtitle">Tonya Kucherovskaya</h3>
            <p class="reviews-card__discription">
              Graduated from 2015, National University of Bioresources and
              natural history of Ukraine
            </p>
            <p class="reviews-card__text">
              In a short time with Elena, I mastered grammar and replenished my
              completely empty vocabulary. From the first lesson I realized that
              I was on my plate. Elena and I became friends because she was
              really worried about my success. She became an authority for me,
              but I did not tremble in class, fearing to make the slightest
              mistake. Now I can brag that I'm student ...
            </p>
            <a href="" class="reviews-card__link link">Read more</a>
          </div>
        </div>
      </article>
      <article class="reviews-card">
        <div class="card__wrap">
          <div class="reviews-card__wrap">
            <img
              srcset="
                ./images/reviews/slider/img-2-mb-min.png      90w,
                ./images/reviews/slider/img-2-mb@2x-min.png  180w,
                ./images/reviews/slider/img-2-tab-min.png    150w,
                ./images/reviews/slider/img-2-tab@2x-min.png 300w
              "
              src="./images/reviews/slider/img-2-mb-min.png"
              alt="girl avatar"
              width="90"
              height="90"
            />

            <a href="" class="reviews-card--animation link">
              <svg class="reviews-card__icon" width="34" height="34">
                <use href="./images/icon-svg/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </div>
          <div class="reviews-card__content">
            <h3 class="reviews-card__subtitle subtitle">Tonya Kucherovskaya</h3>
            <p class="reviews-card__discription">
              Graduated from 2015, National University of Bioresources and
              natural history of Ukraine
            </p>
            <p class="reviews-card__text">
              In a short time with Elena, I mastered grammar and replenished my
              completely empty vocabulary. From the first lesson I realized that
              I was on my plate. Elena and I became friends because she was
              really worried about my success. She became an authority for me,
              but I did not tremble in class, fearing to make the slightest
              mistake. Now I can brag that I'm student ...
            </p>
            <a href="" class="reviews-card__link link">Read more</a>
          </div>
        </div>
      </article>
    </div>
    <ul class="reviews__list">
      <li class="reviews__item">
        <img
          srcset="
            ./images/reviews/avatar-6.png    1x,
            ./images/reviews/avatar-6@2x.png 2x
          "
          src="./images/reviews/avatar-6.png"
          alt="girl avatar"
          width="54"
          height="54"
        />
      </li>
      <li class="reviews__item">
        <img
          srcset="
            ./images/reviews/avatar-7.png    1x,
            ./images/reviews/avatar-7@2x.png 2x
          "
          src="./images/reviews/avatar-7.png"
          alt="girl avatar"
          width="54"
          height="54"
        />
      </li>
      <li class="reviews__item">
        <img
          srcset="
            ./images/reviews/avatar-1.png    1x,
            ./images/reviews/avatar-1@2x.png 2x
          "
          src="./images/reviews/avatar-1.png"
          alt="girl avatar"
          width="54"
          height="54"
        />
      </li>
      <li class="reviews__item">
        <img
          srcset="
            ./images/reviews/avatar-2.png    1x,
            ./images/reviews/avatar-2@2x.png 2x
          "
          src="./images/reviews/avatar-2.png"
          alt="girl avatar"
          width="54"
          height="54"
        />
      </li>
      <li class="reviews__item">
        <img
          srcset="
            ./images/reviews/avatar-3.png    1x,
            ./images/reviews/avatar-3@2x.png 2x
          "
          src="./images/reviews/avatar-3.png"
          alt="girl avatar"
          width="54"
          height="54"
        />
      </li>
      <li class="reviews__item">
        <img
          srcset="
            ./images/reviews/avatar-4.png    1x,
            ./images/reviews/avatar-4@2x.png 2x
          "
          src="./images/reviews/avatar-4.png"
          alt="girl avatar"
          width="54"
          height="54"
        />
      </li>
      <li class="reviews__item">
        <img
          srcset="
            ./images/reviews/avatar-5.png    1x,
            ./images/reviews/avatar-5@2x.png 2x
          "
          src="./images/reviews/avatar-5.png"
          alt="girl avatar"
          width="54"
          height="54"
        />
      </li>
    </ul>
  </div>
</section>
