.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    overflow: hidden;

    background-color: var(--menu-background);

    opacity: 1;
    transition: opacity, visibility var(--animation);

}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%);
    transition: transform var(--animation);
}

.modal {
    position: absolute;
    top: 0;
    left: 50%;

    padding: 35px 25px;

    width: 100%;
    height: 100%;
    text-align: center;

    color: var(--light-text-color);

    @include textStyle(var(--light-text-color), 26px, 1.5);

    background-image: url('../images/campfire2.svg');
    background-position: left 50% bottom 0;
    background-repeat: no-repeat;
    background-size: contain;

    transform: translatex(-50%);

    transition: transform var(--animation);


    @include mq(mobile) {
        position: absolute;
        top: 40px;
        left: 50%;

        padding: 40px 30px;
        width: 440px;
        height: 85%;

        transform: translatex(-50%);
    }

    @include mq(tablet) {
        top: 65px;

        padding: 50px 40px;
        width: 698px;
    }

    @include mq(desktop) {
        top: 60px;

        padding: 100px 70px;
        width: 1216px;
    }
}

.modal__title {
    font-size: 26px;

    @include mq(tablet) {
        font-size: 36px;
    }

    @include mq(desktop) {
        font-size: 52px;
    }
}

.modal__text {
    margin-top: 30px;
    font-size: 24px;

    @include mq(mobile) {
        margin-top: 40px;
    }

    @include mq(tablet) {
        margin-top: 60px;
        font-size: 34px;
    }

    @include mq(desktop) {
        margin-top: 90px;
        font-size: 44px;
    }
}

.modal__text-support {
    display: block;
    font-size: 20px;

    @include mq(tablet) {
        font-size: 30px;
    }

    @include mq(desktop) {
        font-size: 40px;
    }
}

.modal__btn {
    margin-top: 30px;
    margin-bottom: 35px;

    height: 66px;
    font-size: 16px;

    color: var(--light-text-color);
    background-color: transparent;

    outline: 4px solid var(--light-text-color);
    outline-offset: -4px;

    @include mq(mobile) {
        margin-top: 60px;
        margin-bottom: 70px;
    }

    @include mq(tablet) {
        margin-top: 90px;
        margin-bottom: 110px;
        padding: 30px 20px;
        font-size: 26px;
    }

    @include mq(desktop) {
        padding: 60px 35px;
        font-size: 36px;
    }

}