.benefits {
  margin-top: -1px;
  padding-top: 35px;
  padding-bottom: 35px;

  background-image: linear-gradient(
    to bottom,
    var(--black-background) 60%,
    var(--prime-background) 60%
  );

  @include mq(tablet) {
    background-image: linear-gradient(
      to bottom,
      var(--black-background) 235px,
      var(--prime-background) 235px,
      var(--prime-background) 505px
    );
  }

  @include mq(desktop) {
    background-image: linear-gradient(
      to bottom,
      var(--black-background) 231px,
      var(--prime-background) 231px,
      var(--prime-background) 460px
    );
  }
}

.benefits__title {
  width: 180px;

  line-height: calc(27 / 20);
  text-align: left;

  @include mq(mobile) {
    width: 100%;
  }

  @include mq(tablet) {
    font-size: 26px;
    line-height: calc(34 / 26);
    text-align: center;
  }

  @include mq(desktop) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.benefits__list {
  margin-top: 30px;
  padding: 35px 22px;

  background: var(--prime-background);
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

  @include mq(tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;

    padding: 40px 98px;
  }

  @include mq(desktop) {
    position: relative;
    z-index: 5;
    gap: 40px;

    margin-top: 0;

    padding: 67px 113px;
  }
}

.benefits__item {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(20 / 14);
  align-items: center;

  color: var(--title-text-color);

  counter-increment: section;

  @include mq(mobile-only) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @include mq(tablet) {
    width: calc((100% - 20px) / 2);
    line-height: calc(24 / 14);
  }

  @include mq(desktop) {
    width: calc((100% - 80px) / 3);
  }
}

.benefits__text {
  @include mq(desktop) {
    font-size: 20px;
    line-height: calc(28 / 20);
  }

  &::before {
    content: '\2015  0'counter(section);
    display: block;
    margin-bottom: 10px;

    font-size: 14px;
    line-height: calc(23 / 14);

    color: var(--accent-text-color);

    @include mq(desktop) {
      font-size: 20px;
      line-height: calc(33 / 20);
    }
  }
}
