.benefits {
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;

    background-image: linear-gradient(to bottom,
            var(--black-background) 550px,
            var(--prime-background) 550px,
            var(--prime-background) 788px);

    @include mq(tablet) {
        padding-top: 172px;
        background-image: linear-gradient(to bottom,
                var(--black-background) 371px,
                var(--prime-background) 371px,
                var(--prime-background) 596px);
    }

    @include mq(desktop) {
        padding-top: 65px;
        max-width: 1680px;
        background-image: linear-gradient(to bottom,
                var(--black-background) 261px,
                var(--prime-background) 261px,
                var(--prime-background) 455px);
    }
}

.benefits__title {
    width: 180px;
    display: inline-block;

    font-size: 20px;
    line-height: calc(27 / 20);
    text-align: left;

    @include mq(mobile) {
        width: 100%;
    }

    @include mq(tablet) {
        font-size: 26px;
        line-height: calc(34 / 26);
        text-align: center;
    }

    @include mq(desktop) {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
}

.benefits__list {
    margin-top: 30px;
    padding: 35px 22px;
    max-width: 440px;

    background: var(--prime-background);
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

    @include mq(tablet) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        padding: 40px 98px;
        margin-top: 30px;
        max-width: 688px;
    }

    @include mq(desktop) {
        position: relative;
        z-index: 10;
        padding: 67px 113px;
        margin-top: 0;
        max-width: 1314px;
    }
}

.benefits__item {
    margin-bottom: 15px;

    font-weight: 700;
    font-size: 14px;
    line-height: calc(20 / 14);
    align-items: center;
    letter-spacing: 0.08em;

    color: var(--title-text-color);

    counter-increment: section;

    @include mq(tablet) {
        width: calc((100% - 20px) / 2);
        line-height: calc(24 / 14);
    }

    @include mq(desktop) {
        width: calc((100% - 80px) / 3);
    }
}

.benefits__text {
    font-size: 14px;
    line-height: calc(20 / 14);

    @include mq(tablet) {
        line-height: calc(24 / 14);
    }

    @include mq(desktop) {
        font-size: 20px;
        line-height: calc(28 / 20);
    }


    &::before {
        content: "\2015  0" counter(section);
        display: block;
        margin-bottom: 5px;

        font-size: 14px;
        line-height: calc(23 / 14);

        color: var(--accent-text-color);

        @include mq(desktop) {
            font-size: 20px;
            line-height: calc(33 / 20);
        }
    }
}