.contacts {
  margin-right: auto;
  margin-left: auto;
  padding-top: 55px;
  padding-bottom: 55px;

  max-width: 480px;
  background-color: var(--black-background);
  background-image: url(../images/contacts/registration-bg-md.png);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
