.guarantee {
    max-width: 100%;
    height: 486px;
    // padding-top: 70px;

    @include mq(tablet) {
        height: 336px;
    }

    @include mq(desktop) {
        height: 502px;
        // width: 1314px;
        // padding-left: 183px;
        // padding-right: 183px;
    }
}

.guarantee__container {
    padding: 0;

    // @include mq(tablet) {
    //     width: 272px;
    // }

    @include mq(desktop) {
        width: 1314px;
        //  padding-left: 183px;
        //  padding-right: 183px;
    }
}

.guarantee__title {
    
    font-size: 26px;

    @include mq(desktop) {
    //     padding-top: 129px;       
         font-size: 46px;
        line-height: 1.3;
    }
}

.guarantee__list {
    margin-top: 30px;
    padding-right: 55px;
    padding-left: 20px;

    width: 480px;
    height: 425px;

    background: var(--secondary-background);
    
    @include mq(tablet) {
        
        padding-left: 64px;
        padding-right: 65px;
        width: 728px;
        height: 272px;
    }

    @include mq(desktop) {
        margin-top: 50px;
        padding: 50px 112px;
        width: 1354px;
        height: 300px;
    }
}

.guarante__icon {
    padding-right: 20px;
    z-index: 2;
}

.guarantee__bg {
    z-index: 1;
    background-color: var(--secondary-background);

    padding-top: 5px;
    margin-right: 20px;
    
    width: 15px;
    height: 30px;
}

.guarantee__item { 
    
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 25px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;

    color: var(--prime-text-color);

    &:first-child {
        padding-top: 45px;
    }

    &:not(:last-child)::before {
        content: '';

        position: absolute;
        left: 8px;
        transform: translateX(-50%);

        display: inline-block;
        height: calc(100%);
        border-left: 1px dashed var(--prime-text-color);
    }

    @include mq(tablet) {
        padding-top: 20px;

        &:first-child {
            padding-top: 30px;
        }

        &:last-child {
            margin-bottom: 30px;
        }
    }

     @include mq(desktop) {
    //     margin-top: 50px;
    //     padding: 50px 112px;
    //     width: 1354px;
    //     height: 395px;
        font-size: 20px;
        line-height: 1.4;
     }

}



