header {
    /*width: 100vw;*/
    padding-bottom: 80px;
    margin-left: auto;
    margin-right: auto;

    /*@include mq(tablet) {
        max-width: 768px;
        width: 768px;
    }
        @include mq(desktop) {
            max-width: 1366px;
            width: 1366px;
        }*/
    }
.header {
    position: fixed;
    top: auto;
    left: 50%;
    transform: translateX(-50%);
    /*display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    /*max-width: 480px;*/
    
    padding-top: 30px;
    background-color: var(--prime-background);
    z-index: 2;

    @media screen and (min-width: 480px) {
        
        /*left: 0;*/
        /*transform: translateX(-50%); */       
    }
    @include mq(tablet) {
        padding-left: 40px;
        padding-right: 40px;
        
    }
        @include mq(desktop) {
            padding-left: 25px;
            padding-right: 25px;
        }
    }
.logo--white-theme {
        display: contents;
        fill: var(--light-text-color);
        
        
        @include mq(desktop) {
                display: none;
            }
    }
.container-nav {
    display: none;
}
.menu-btn {
    /*position: relative;*/
    position: absolute;
    top: 25px;
    right: 15px;
    display: block;

    z-index: 5;
    /*display: inline-flex;*/
    margin: 0;
    padding: 0;
    
    border: none;
    background-color: transparent;
    cursor: pointer;

    @media screen and (min-width: 1366px) {
            display: none;
        }
}
.menu-container {
    position: absolute;
    display: none;
    flex-direction: column;
    /*position: fixed;*/
    top: 0;
    right: 0;
    width: 100%;
    /*height: 100%;*/
    height: 100vh;
    /*max-width: 480px;*/
    padding: 30px 20px;
    background: var(--black-background);
    transform: translateX(100%);
    transition: transform 250ms;
    /*z-index: 3;*/
    visibility: hidden;

    @include mq(desktop) {
        display: flex;
        visibility: visible;
        z-index: 2;
        flex-direction: row;
        top: 10px;
        left: 297px;
        right: auto;
        transform: translateX(0);
        width: auto;
        height: auto;
        background-color: transparent;
    }

    &.is-open {
        display: flex;
        z-index: 3;
        visibility: visible;
        row-gap: 50px;
        transform: translateX(0);
        transition: transform 250ms;
    }
}
.menu-btn__close {
    display: none;

    .menu-btn.is-open & {
        display: block;
        fill: var(--light-text-color);
    }
}

.menu-btn__open {
    display: block;

    .menu-btn.is-open & {
        display: none;
    }
}
.site-nav__list {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--light-text-color);

    @include mq(tablet) {
            font-size: 26px;
        }
                @include mq(desktop) {
                    display: flex;
                    gap: 40px;
                    color: var(--prime-text-color);
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 1.21;
                        align-items: center;
                        text-align: center;
                        text-transform: uppercase;
                }
}
.site-nav__item:hover {
    color: var(--accent-text-color);
}
.site-nav {
    @include mq(tablet) {
            margin-left: auto;
            margin-right: auto;
        }
}
.call-btn {
    display: none;
    align-self: center;
    width: 260px;
    height: 48px;
    
    @include mq(mobile-only) {
    .menu-container.is-open + & {
        display: inline-flex;
        position: absolute;
        z-index: 5;
        top: 300px;
        left: 50%;
        transform: translateX(-50%);
    }}
    @include mq(tablet) {
        display: inline-flex;
        position: absolute;
        right: 101px;
        top: 0;
        transform: translateY(50%);
    }
}

body.no-scroll {
    overflow: hidden;
}