.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  background-color: var(--prime-background);
  width: 100%;
  height: 90px;
  @include mq(tablet) {
    height: 110px;
  }

  @include mq(desktop) {
    height: 120px;
  }

  &--no-transparency {
    box-shadow: 0px 8px 26px rgba(243, 127, 19, 0.1);
  }
}

.header__container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  z-index: 12;

  padding-top: 30px;
  padding-bottom: 30px;

  @include mq(tablet-only) {
    padding-top: 40px;
  }

  @include mq(tablet) {
    display: flex;
  }

  @include mq(desktop) {
    align-items: center;
  }
}

.logo {
  display: flex;
}

.header__logo {
  @include mq(mobile-only) {
    width: 81px;
  }

  @include mq(desktop) {
    margin-right: 143px;
  }
}

.logo--white-theme {
  display: block;
  fill: var(--light-text-color);

  @include mq(desktop) {
    display: none;
  }
}

.menu-btn {
  @include mq(mobile-only) {
    position: absolute;
    top: 25px;
    right: 15px;
  }
  display: block;

  z-index: 5;

  border: none;
  background-color: transparent;
  cursor: pointer;

  @include mq(tablet) {
    margin-left: 40px;
    &.is-open {
      margin-left: 25px;
    }
  }

  @include mq(desktop) {
    display: none;
  }
  transform: scale(1);

  transition: transform var(--animation), color var(--animation);

  &:focus,
  &:hover {
    color: var(--accent-text-color);
    transform: scale(1.2);
  }
}

.menu-btn__close {
  display: none;

  .menu-btn.is-open & {
    display: block;
    fill: var(--light-text-color);
    @include mq(tablet) {
      margin-right: 10px;
    }
  }
}

.menu-btn__open {
  display: block;

  .menu-btn.is-open & {
    display: none;
  }
}

.menu-btn__icon {
  fill: currentColor;
}

.menu-container {
  @include mq(not-desktop) {
    position: absolute;
    visibility: hidden;

    flex-direction: column;

    top: 0;
    right: 0;
    width: 100%;

    height: 100vh;

    padding: 30px 20px;
    background: var(--menu-background);
    transform: translateX(100%);
    transition: transform var(--animation), visibility var(--animation);

    &.is-open {
      display: flex;
      z-index: 3;
      visibility: visible;
      row-gap: 50px;
      transform: translateX(0);
      overflow-y: scroll;
    }
  }

  @include mq(tablet-only) {
    padding: 42px 40px;
  }
}

.site-nav__list {
  scroll-behavior: smooth;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 0.03em;

  @include mq(tablet) {
    font-size: 26px;
  }
  @include mq(desktop) {
    display: flex;
    gap: 40px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
  }
}
.site-nav__link {
  display: block;
  color: var(--light-text-color);

  @include mq(desktop) {
    color: var(--prime-text-color);
  }

  @include mq(mobile-only) {
    transform: translateX(0px) scale(1);
  }

  transform: scale(1);
  transition: color var(--animation), transform var(--animation);

  &:hover,
  &:focus {
    @include mq(mobile-only) {
      transform: translateX(20px) scale(1.1);
    }
    color: var(--accent-text-color);
    transform: scale(1.1);
  }
}
.site-nav {
  @include mq(tablet) {
    margin-left: auto;
    margin-right: auto;
  }
}

.call-btn-mobile {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 260px;
  padding: 14px 5px;
  @include mq(tablet) {
    display: none;
  }
}

.call-btn {
  @include mq(mobile-only) {
    display: none;
  }

  margin-left: 239px;
  @include mq(desktop) {
    margin-left: auto;
  }
}

body.no-scroll {
  overflow: hidden;
}
/*--------------------- Logo animation ------------------------------------*/

.logo__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 3px;
  width: 80px;
  height: 30px;

  .header__logo:hover &,
  .header__logo:focus & {
    position: relative;
  }

  @include mq(tablet) {
    width: 128px;
    height: 46px;
  }
}

.logo__gif {
  position: absolute;
  width: 25px;
  height: 30px;
  transform: translate(128%, 0);
  opacity: 0;
  transition: transform var(--animation), opacity var(--animation);

  @include mq(tablet) {
    width: 35px;
    height: 55px;
    transform: translate(140%, 0);
  }

  .header__logo:hover &,
  .header__logo:focus & {
    display: block;
    position: absolute;
    transform: translate(128%, -35%);
    opacity: 1;

    @include mq(tablet) {
      transform: translate(140%, -35%);
    }
  }
}
.logo__hell,
.logo__en {
  font-weight: 800;
  font-size: 14px;
  line-height: 1.2;

  letter-spacing: 0.04em;

  @include mq(tablet) {
    font-size: 26px;
    line-height: 1.23;
  }

  color: var(--title-text-color);
  transform: scale(1);
  transition: transform var(--animation);

  .header__logo:hover &,
  .header__logo:focus & {
    position: absolute;
    transform: scale(1.1);
  }
}
.header__logo:hover .logo__hell,
.header__logo:focus .logo__hell {
  left: 3px;
  transform: translateY(-1px);

  @include mq(tablet) {
    left: -7px;
    transform: translateY(0);
  }
}
.header__logo:hover .logo__en,
.header__logo:focus .logo__en {
  right: -2px;
  transform: translateY(-1px);

  @include mq(tablet) {
    right: -2px;
    transform: translateY(0);
  }
}

.logo__icon--header {
  max-width: 14px;
  max-height: 20px;
  margin-left: 3px;
  margin-right: 3px;
  opacity: 1;
  transition: opacity var(--animation) 250ms;

  @include mq(tablet) {
    max-width: 22;
    max-height: 30;
    align-self: flex-start;
  }

  .header__logo:hover &,
  .header__logo:focus & {
    position: absolute;
    transform: translate(240%, -50%);
    opacity: 0;
    transition: transform var(--animation) 250ms;
  }
}
.logo__helish,
.logo__english {
  font-weight: 700;
  font-size: 5px;
  line-height: 1.2;

  letter-spacing: 0.18em;
  text-transform: uppercase;

  @include mq(tablet) {
    font-size: 8px;
    line-height: 1.25;
  }
  transform: scale(1);
  transition: transform var(--animation);

  .header__logo:hover &,
  .header__logo:focus & {
    position: absolute;
    transform: scale(1.2);
  }
}
.logo__helish {
  color: var(--accent-text-color);

  .header__logo:hover &,
  .header__logo:focus & {
    left: 12px;
    bottom: -2px;
  }
}
.logo__english {
  margin-left: 4px;
  color: var(--title-text-color);

  .header__logo:hover &,
  .header__logo:focus & {
    right: -2px;
    bottom: -2px;
  }
}
.logo__svg {
  width: 22px;
  height: 30px;
}
