.hero__container {
  position: relative;
  padding-top: 90px;
  padding-bottom: 232px;

  background-image: url(../images/hero/wave-bg.png);
  filter: drop-shadow(-5px 21px 26px rgba(0, 0, 0, 0.04));
  background-position: -64px 50px;
  background-repeat: no-repeat;
  background-size: 768px 500px;

  min-height: 547px;

  @include mq(tablet) {
    padding-top: 158px;
    padding-bottom: 96px;
    background-image: url(../images/hero/wave-bg-1680-975.png);
  }
  //   @include mq(desktop) {
  @include mq(desktop) {
    padding-top: 185px;
    padding-bottom: 272px;
  }
  //     width: 530px;
  //   }
}

.hero__title {
  margin-bottom: 8px;

  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;

  letter-spacing: 0.03em;

  color: var(--title-text-color);

  @include mq(tablet) {
    font-size: 26px;
    width: 320px;
  }
  @include mq(desktop) {
    font-size: 58px;
  }
}

.hero__warning,
.hero__benefit,
.hero__points {
  font-size: 14px;
  line-height: 1.57;

  @include mq(desktop) {
    font-size: 20px;
    line-height: 1.65;
  }
}

.hero__benefit {
  margin-bottom: 50px;
  font-weight: 700;
  color: var(--title-text-color);
  @include mq(tablet-only) {
    width: 320px;
  }
}

.hero__points {
  font-weight: 700;
  color: var(--accent-text-color);

  @include mq(desktop) {
    color: var(--title-text-color);
  }
}

.lesson-btn {
  @include mq(mobile-only) {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 260px;
  }
}
// .lesson-btn {
//   height: 48px;

//   @include mq(desktop) {
//     width: 354px;
//     height: 70px;
//   }
// }
// .wave-bg {
//   display: block;
//   /*min-width: 320px;*/
//   min-width: 100%;
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   transform: translate(-50%, -50%);
//   z-index: -1;

//   filter: drop-shadow(-5px 21px 26px rgba(0, 0, 0, 0.4));

//   &--desk {
//     display: none;
//   }

//   @media screen and (min-width: 480px) {
//     /*left: -35px;
//         top: 0;
//         transform: translate(0, 0); */
//   }
//   @include mq(desktop) {
//     &--desk {
//       display: block;
//     }
//     &--mob {
//       display: none;
//     }
//   }
// }
.hero__img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  @include mq(tablet) {
    position: absolute;
    bottom: 27px;
    right: 18px;
  }
}
