.hero {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    padding-top: 60px;
    padding-bottom: 35px;
    
    overflow: hidden;

    /*background-image: url(../images/hero/wave-bg.svg);
    background-repeat: no-repeat;
    background-size: 768px 500px;
    filter: drop-shadow(-5px 21px 26px rgba(0, 0, 0, 0.4));
    background-position: left 10 top 10;*/
}
.hero__container {
    display: flex;
    flex-direction: column;
}
.hero__title {
        margin-bottom: 8px;

        font-weight: 800;
        font-size: 20px;
        line-height: 1.3;
            
        letter-spacing: 0.03em;
    
        color: var(--title-text-color);
}
.hero__warning,
.hero__benefit,
.hero__points{
    font-size: 14px;
    line-height: 1.57;
}
.hero__benefit {
    font-weight: 700;
    color: var(--title-text-color);
}
.hero__points {
    margin-bottom: 50px;

    font-weight: 700;
    color: var(--accent-text-color);
}
.lesson-btn {
    margin-left: auto;
    margin-right: auto;
    height: 48px;
}
.wave-bg {
    min-width: 320px;
    width: 150%;
    position: absolute;
    left: 40%;
    top: 45%;
    transform: translate(-50%, -50%);
    z-index: -1;
    /*transform: translateX(-10%);*/

    filter: drop-shadow(-5px 21px 26px rgba(0, 0, 0, 0.4));

    @media screen and (min-width: 480px) {
        left: -35px;
        top: 0;
        transform: translate(0, 0);        
    }
    @include mq(tablet) {
        left: 0;
    }
}
.hero__img {
    margin-top: 54px;
    margin-left: auto;
    margin-right: auto;
}
